* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f5f7fb;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 18px 60px;
  background: white;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.logo {
    display: flex;
}
.logo-icon {
    width: 80px;
    margin-right: 40px;
    height: 75px;

}

.nav-links a {
  margin-left: 30px;
  text-decoration: none;
  color: #333;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #3f8cff, #6a5cff);
  color: white;
}

.hero h1 {
  font-size: 40px;
}

.hero button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: white;
  color: #3f8cff;
  border-radius: 6px;
}

/* STATS */
.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: -40px;
}

.stat-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* SECTION */
.section {
  padding: 60px;
  text-align: center;
}

/* GRID */
.exam-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  gap: 20px;
  margin-top: 30px;
}


/* BOX */
.exam-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.exam-box:hover {
  transform: translateY(-5px);
  background: #3f8cff;
  color: white;
}

/* DROPDOWN */
.exam-panel {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: none;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.exam-panel.active {
  display: block;
}
.sschide {
   display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    text-decoration: none;
    background: #fff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
    color: #000;
    transition: 0.25s;
}
.neethide {
   display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    text-decoration: none;
    background: #fff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
    color: #000;
    transition: 0.25s;
}
.raihide {
     display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    text-decoration: none;
    background: #fff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
    color: #000;
    transition: 0.25s;
}
.bankhide {
  display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    text-decoration: none;
    background: #fff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
    color: #000;
    transition: 0.25s;
}